body {
  background-color: #f6f6f6;
}

[contenteditable='true'] {
  width: 30%;
}

[contenteditable='true'] br {
  display: none;
}

[contenteditable='true'] * {
  display: inline;
  white-space: nowrap;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

h1 {
  border-bottom: 2px solid rgb(209, 208, 208);
}
