body {
  background-color: #f6f6f6;
}

[contenteditable='true'] {
  width: 30%;
}

[contenteditable='true'] br {
  display: none;
}

[contenteditable='true'] * {
  display: inline;
  white-space: nowrap;
}

.container {
  margin: 0 auto;
  background-color: #fff;
  max-width: 500px;
  box-shadow: 0 11px 25px 0 rgba(0, 0, 0, 0.3);
}

.container > div:first-child {
  padding: 0 0.8rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  padding: 1rem 0;
}

ul {
  padding-inline-start: 0;
  margin: 0;
}

li {
  display: flex;
  border-top: 1px solid rgb(209, 208, 208);
}

.todoTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(209, 208, 208);
  align-items: center;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formContainer input {
  flex-grow: 1;
}

#show-task li > div {
  flex-grow: 1;
}

.clear-btn {
  width: 100%;
  padding: 1rem 0;
  background: #f6f6f6;
}

.text-input {
  display: flex;
}

.text-input:hover {
  background-color: rgb(255, 255, 154);
}

.text-input p {
  min-width: 90%;
  border: none;
  max-height: max-content;
  margin-left: 1rem;
}
